# I. Import library

In [1]:
import re
import pandas as pd
import numpy as np

# II. clean dataset

## 1. Load dataset

In [2]:
df_dataset=pd.read_csv('../dataset/Amazon_Mobile_Data.csv')

In [3]:
df_dataset.head(2)

,Unnamed: 0,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description,reviews,reviews_rating
0,0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,₹45900.00,4.2 out of 5 stars,4 ratings,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6 GB,16.5 x 7.6 x 0.7 cm,167 Grams,1 Lithium Polymer batteries required. (included),"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...,Adequate ..|| Once again proves they sale the ...,3.0 out of 5 stars|| 1.0 out of 5 stars|| 4.0 ...
1,1,Samsung Galaxy M42 5G (Prism Dot Black 8GB RAM...,₹9490.00,4.3 out of 5 stars,47 ratings,In stock.,OnePlus,India,Android,8 GB,15 x 1 x 7.5 cm,161 Grams,1 Lithium Polymer batteries required. (included),Dual SIM,Smartphone,Prism Black,4400.0,The product comes in a very proper packaging. ...,Poor screen quality|| Don't Fall on Youtubers ...,1.0 out of 5 stars|| 1.0 out of 5 stars|| 1.0 ...

## 2. drop data no need

In [4]:
del df_dataset["Unnamed: 0"]
del df_dataset["reviews"]
del df_dataset["reviews_rating"]

In [5]:
df_dataset.head(2)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,₹45900.00,4.2 out of 5 stars,4 ratings,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6 GB,16.5 x 7.6 x 0.7 cm,167 Grams,1 Lithium Polymer batteries required. (included),"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...
1,Samsung Galaxy M42 5G (Prism Dot Black 8GB RAM...,₹9490.00,4.3 out of 5 stars,47 ratings,In stock.,OnePlus,India,Android,8 GB,15 x 1 x 7.5 cm,161 Grams,1 Lithium Polymer batteries required. (included),Dual SIM,Smartphone,Prism Black,4400.0,The product comes in a very proper packaging. ...

## 3. reformat price

In [6]:
df_dataset["price"][0:5]

0    ₹45900.00
1     ₹9490.00
2    ₹44000.00
3    ₹21490.00
4    ₹39999.00
Name: price, dtype: object

In [7]:
df_dataset["price"][0][1:-1]

'45900.0'

In [8]:
df_dataset["price"]=df_dataset["price"].apply( lambda x: x[1:-1] )

In [9]:
df_dataset.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2 out of 5 stars,4 ratings,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6 GB,16.5 x 7.6 x 0.7 cm,167 Grams,1 Lithium Polymer batteries required. (included),"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

## 4. reformat rating

In [10]:
df_dataset["rating"].unique()

array(['4.2 out of 5 stars', '4.3 out of 5 stars', '4.4 out of 5 stars',
       '2.0 out of 5 stars', '2.5 out of 5 stars', '3.3 out of 5 stars',
       '4.0 out of 5 stars', '3.1 out of 5 stars', '3.7 out of 5 stars',
       '4.1 out of 5 stars', '5.0 out of 5 stars', '3.4 out of 5 stars',
       '2.3 out of 5 stars', '4.5 out of 5 stars', '2.9 out of 5 stars',
       '3.9 out of 5 stars', '3.8 out of 5 stars', '3.5 out of 5 stars',
       '3.6 out of 5 stars', '4.6 out of 5 stars', '3.0 out of 5 stars',
       '3.2 out of 5 stars', '2.4 out of 5 stars', '1.0 out of 5 stars'],
      dtype=object)

In [11]:
df_dataset["rating"]=df_dataset["rating"].apply( lambda x:x[0:3])

## 5. reformat total_reviews

In [12]:
df_dataset.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4 ratings,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6 GB,16.5 x 7.6 x 0.7 cm,167 Grams,1 Lithium Polymer batteries required. (included),"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

In [13]:
df_dataset["total_reviews"].unique()[0:10]

array(['4 ratings', '47 ratings', '327 ratings', '11236 ratings',
       '1238 ratings', '48 ratings', '9 ratings', '15 ratings',
       '4489 ratings', '13 ratings'], dtype=object)

In [14]:
df_dataset["total_reviews"].apply(lambda x: x.split()[0]).unique()

array(['4', '47', '327', '11236', '1238', '48', '9', '15', '4489', '13',
       '46', '5264', '3814', '402', '35', '52867', '77740', '8', '1396',
       '392', '2103', '952', '18', '21078', '2705', '489', '4133', '25',
       '411', '388', '5', '39', '701', '20993', '62', '93164', '65795',
       '1963', '1220', '14576', '49080', '27', '44', '30056', '4984',
       '383', '769', '2935', '310', '708', '539', '1', '21689', '21077',
       '26', '3137', '205', '985', '4573', '11624', '70126', '961', '785',
       '3623', '67307', '724', '88', '1340', '332', '7', '6981', '20',
       '37', '11522', '28', '640', '66356', '2463', '449', '70', '81',
       '616', '1922', '1086', '8367', '79', '490', '85525', '1646',
       '13703', '71', '4986', '270', '1043', '943', '10', '588', '927',
       '2', '2334', '871', '65796', '51', '20994', '14', '2194', '86',
       '354', '19', '3', '60', '986', '33', '2214', '78', '43', '1356',
       '12', '1405', '833', '2041'], dtype=object)

In [15]:
df_dataset["total_reviews"]=df_dataset["total_reviews"].apply(lambda x: x.split()[0])

In [16]:
df_dataset.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6 GB,16.5 x 7.6 x 0.7 cm,167 Grams,1 Lithium Polymer batteries required. (included),"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

## 6. reformat ram

In [17]:
df_dataset.ram.unique()

array(['6 GB', '8 GB', '32 MB', '4 GB', '8GB', '3 GB', '12 GB', '2 GB',
       '32 GB', '64 GB', '512 MB', '1 GB'], dtype=object)

In [18]:
df_dataset["ram"].apply(lambda x  :re.sub(r'[a-zA-Z]', '', x)).unique()

array(['6 ', '8 ', '32 ', '4 ', '8', '3 ', '12 ', '2 ', '64 ', '512 ',
       '1 '], dtype=object)

In [19]:
df_dataset["ram"]=df_dataset["ram"].apply(lambda x  :re.sub(r'[a-zA-Z]', '', x))

In [20]:
df_dataset.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6,16.5 x 7.6 x 0.7 cm,167 Grams,1 Lithium Polymer batteries required. (included),"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

In [21]:
df_dataset.ram.unique()

array(['6 ', '8 ', '32 ', '4 ', '8', '3 ', '12 ', '2 ', '64 ', '512 ',
       '1 '], dtype=object)

## 7. reformat weight

In [22]:
df_dataset["weight"].unique()

array([' 167 Grams', ' 161 Grams', ' 196 Grams', ' 175 Grams',
       ' 199 Grams', ' 193 Grams', ' 141.75 Grams', ' 0.37 Grams',
       ' 840 Grams', ' 180 Grams', ' 194 Grams', ' 69 Grams',
       ' 209 Grams', ' 197 Grams', ' 141 Grams', ' 215 Grams',
       ' 450 Grams', ' 185.5 Grams', ' 190 Grams', ' 188 Grams',
       ' 420 Grams', ' 480 Grams', ' 157 Grams', ' 218 Grams',
       ' 198 Grams', ' 184 Grams', ' 177 Grams', ' 187 Grams',
       ' 213 Grams', ' 172 Grams', ' 500 Grams', ' 173 Grams',
       ' 176 Grams', ' 179 Grams', ' 216 Grams', ' 192 Grams',
       ' 202 Grams', ' 170 Grams', ' 169 Grams', ' 214 Grams',
       ' 690 Grams', ' 360 Grams', ' 186 Grams', ' 400 Grams',
       ' 206 Grams', ' 205 Grams', ' 185 Grams', ' 203 Grams',
       ' 210 Grams', ' 730 Grams', ' 300 Grams', ' 165 Grams',
       ' 392 Grams', ' 160 Grams', ' 183 Grams', ' 207 Grams',
       ' 208 Grams', ' 105 Grams', ' 191 Grams', ' 120 Grams',
       ' 900 Grams', ' 700 Grams', ' 154 Grams', ' 181 Grams',
       ' 114 Grams', ' 156 Grams'], dtype=object)

In [23]:
df_dataset["weight"]=df_dataset["weight"].apply(lambda x: x.split(" ")[1])

In [24]:
df_dataset.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6,16.5 x 7.6 x 0.7 cm,167,1 Lithium Polymer batteries required. (included),"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

## 8. format os

In [25]:

df_os_raw=pd.DataFrame()
df_os_raw['os']=df_dataset['os']
print(df_os_raw['os'].unique())
print(len(df_os_raw))
# df_os_raw= df_os_raw.drop_duplicates()
# print(len(df_os_raw))

['Android' 'Android 10.0' 'Android 11.0'
 'Funtouch OS 11.1 (Based on Android 11)' 'Android 11'
 'Android 11, MIUI 12' 'HiOS 7.5, Android 11 (Go Edition)'
 'OneU 3.1, Android 11' 'Funtouch OS 11(Based on Android 11)' 'SPREADTRUM'
 'Android 10.0 (Go), Android 10.0 (Go Edition, HiOS 6.2'
 'Android 11, Funtouch OS 11.1' 'Android 6.0' 'MiUI 12.5 (Android 11)'
 'Funtouch OS 11.1 Global (Based on Android 11)'
 'Go Edition, Android 10.0' 'Funtouch OS 10.5 based on Android 10'
 'ThreadX' 'HiOS 7.6, Android 11' 'OneUI 3.1, Android 11.0'
 'Funtouch OS 11 (Based on Android 11)' 'Stock Android 10' 'Android 8.1'
 'HiOS 7.5, Android 11' 'MIUI 12' 'Android 9.0']
264

In [26]:
print(df_os_raw.drop_duplicates())

                                                    os
0                                              Android
2                                         Android 10.0
5                                         Android 11.0
6               Funtouch OS 11.1 (Based on Android 11)
7                                           Android 11
11                                 Android 11, MIUI 12
15                   HiOS 7.5, Android 11 (Go Edition)
18                                OneU 3.1, Android 11
28                 Funtouch OS 11(Based on Android 11)
34                                          SPREADTRUM
38   Android 10.0 (Go), Android 10.0 (Go Edition, H...
39                        Android 11, Funtouch OS 11.1
41                                         Android 6.0
59                              MiUI 12.5 (Android 11)
74       Funtouch OS 11.1 Global (Based on Android 11)
76                            Go Edition, Android 10.0
77                Funtouch OS 10.5 based on Android 10
79                                             ThreadX
89                                HiOS 7.6, Android 11
100                            OneUI 3.1, Android 11.0
113               Funtouch OS 11 (Based on Android 11)
136                                   Stock Android 10
193                                        Android 8.1
208                               HiOS 7.5, Android 11
235                                            MIUI 12
262                                        Android 9.0

In [27]:
df_os_raw["os"].apply(lambda x: x.replace(".0",""))

0         Android
1         Android
2      Android 10
3         Android
4         Android
          ...
259       Android
260       Android
261       Android
262     Android 9
263       Android
Name: os, Length: 264, dtype: object

In [28]:



df_os_raw["os"]=df_os_raw["os"].apply(lambda x: x.replace(".0",""))
print(df_os_raw["os"].apply(lambda x: x.split("(Based on")[0]))
df_os_raw["os"]=df_os_raw["os"].apply(lambda x: x.split("(Based on")[0])
df_os_raw["os"]=df_os_raw["os"].apply(lambda x: x.split("based on")[0])

0         Android
1         Android
2      Android 10
3         Android
4         Android
          ...
259       Android
260       Android
261       Android
262     Android 9
263       Android
Name: os, Length: 264, dtype: object

In [29]:

list_os_real=[]
list_os_raw=[]

for df_os_raw_index in df_os_raw.index:
  if ("," in df_os_raw['os'][df_os_raw_index]) or ("(" in df_os_raw['os'][df_os_raw_index]):
    list_os_raw.append(df_os_raw['os'][df_os_raw_index].strip())
  else:
    list_os_real.append(df_os_raw['os'][df_os_raw_index].strip())

In [30]:

print(len(list_os_real)+len(list_os_raw)==len(df_os_raw))
print(len(list_os_real))
print(len(list_os_raw))

True
220
44

In [31]:
list_os_real

['Android',
 'Android',
 'Android 10',
 'Android',
 'Android',
 'Android 11',
 'Funtouch OS 11.1',
 'Android 11',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Android',
 'Android 11',
 'Android',
 'Android',
 'Android',
 'Android 10',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11',
 'Android',
 'Android',
 'Android',
 'Android',
 'SPREADTRUM',
 'Android 11',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Android 6',
 'Android',
 'Android',
 'Android 11',
 'Android 11',
 'Android 10',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Android 11',
 'Android',
 'Android',
 'Android 11',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Funtouch OS 11.1 Global',
 'Android',
 'Funtouch OS 10.5',
 'Funtouch OS 11.1 Global',
 'ThreadX',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android 11',
 'Android',
 'Android',
 'Android',
 'Android 10',
 'Android',
 'Android',
 'Android 11',
 'Android',
 'Funtouch OS 11.1 Global',
 'Android',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11',
 'Android',
 'Android',
 'Android 10',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android 11',
 'Funtouch OS 11.1',
 'Android',
 'Android 11',
 'Android 11',
 'Android',
 'Stock Android 10',
 'Android',
 'Android',
 'Android',
 'Android 6',
 'Android',
 'Android',
 'Android 10',
 'Funtouch OS 10.5',
 'Android',
 'Android 10',
 'Funtouch OS 11.1 Global',
 'Funtouch OS 11.1 Global',
 'Android',
 'Android 11',
 'Android',
 'Android 11',
 'Android',
 'Funtouch OS 11.1 Global',
 'Android 11',
 'Android',
 'Android 11',
 'ThreadX',
 'Android 10',
 'Android',
 'Android 10',
 'Funtouch OS 11.1 Global',
 'Android 10',
 'Android 11',
 'Android',
 'Funtouch OS 11.1 Global',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Android',
 'Android 11',
 'Android',
 'Android',
 'Funtouch OS 11',
 'Android',
 'Android',
 'Android 10',
 'Android',
 'Android 8.1',
 'Android 11',
 'Android',
 'Android',
 'Android 8.1',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Funtouch OS 11.1 Global',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11',
 'Android 10',
 'Android',
 'Android 11',
 'Android',
 'Android',
 'Android 10',
 'Android 11',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Funtouch OS 11.1 Global',
 'Android 11',
 'Funtouch OS 11.1',
 'Android',
 'Android',
 'Android',
 'Android 11',
 'Funtouch OS 11.1',
 'Android 6',
 'Android',
 'MIUI 12',
 'Android',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Android 11',
 'Android',
 'Android 10',
 'Android',
 'Android',
 'Android 11',
 'Android',
 'Funtouch OS 11.1',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Android',
 'Funtouch OS 11.1 Global',
 'Android 11',
 'Android',
 'Android',
 'Android',
 'Android 9',
 'Android']

In [32]:
list_os_raw

['Android 11, MIUI 12',
 'HiOS 7.5, Android 11 (Go Edition)',
 'OneU 3.1, Android 11',
 'OneU 3.1, Android 11',
 'OneU 3.1, Android 11',
 'Android 10 (Go), Android 10 (Go Edition, HiOS 6.2',
 'Android 11, Funtouch OS 11.1',
 'MiUI 12.5 (Android 11)',
 'Android 11, MIUI 12',
 'Android 11, Funtouch OS 11.1',
 'Go Edition, Android 10',
 'Android 11, MIUI 12',
 'HiOS 7.6, Android 11',
 'Android 10 (Go), Android 10 (Go Edition, HiOS 6.2',
 'Android 11, MIUI 12',
 'OneUI 3.1, Android 11',
 'Android 11, Funtouch OS 11.1',
 'Android 11, MIUI 12',
 'Android 11, MIUI 12',
 'Android 11, Funtouch OS 11.1',
 'HiOS 7.5, Android 11 (Go Edition)',
 'Android 11, Funtouch OS 11.1',
 'OneU 3.1, Android 11',
 'OneU 3.1, Android 11',
 'MiUI 12.5 (Android 11)',
 'HiOS 7.6, Android 11',
 'MiUI 12.5 (Android 11)',
 'HiOS 7.5, Android 11 (Go Edition)',
 'MiUI 12.5 (Android 11)',
 'OneUI 3.1, Android 11',
 'OneU 3.1, Android 11',
 'OneU 3.1, Android 11',
 'Android 11, Funtouch OS 11.1',
 'Android 11, Funtouch OS 11.1',
 'HiOS 7.6, Android 11',
 'HiOS 7.5, Android 11',
 'HiOS 7.6, Android 11',
 'Android 11, Funtouch OS 11.1',
 'Android 11, Funtouch OS 11.1',
 'MiUI 12.5 (Android 11)',
 'MiUI 12.5 (Android 11)',
 'Android 11, Funtouch OS 11.1',
 'OneU 3.1, Android 11',
 'Android 11, Funtouch OS 11.1']

In [33]:


list_os_raw_v2=[]
for index in range(0,len(list_os_raw)):
  if(list_os_raw[index]=='Go Edition, Android 10'):
    list_os_raw[index]='Go Edition- Android 10'
    list_os_raw_v2.append(list_os_raw[index])
  elif(list_os_raw[index]=='MiUI 12.5 (Android 11)'):
    list_os_raw_v2.append(list_os_raw[index].split(" ")[0])
  else:
    for os_i in list_os_raw[index].split(", "):
      if ("Android" not in  os_i):
        #print(os_i)
        list_os_raw_v2.append(os_i.strip())

In [34]:
len(list_os_raw_v2)==len(list_os_raw)


list_os_raw_v2

list_os= np.concatenate((list_os_real, list_os_raw_v2))



df_os=pd.DataFrame()
df_os['os']=list_os
df_dataset['os']= df_os['os']

## 9. reformat batteries

In [35]:
df_dataset.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6,16.5 x 7.6 x 0.7 cm,167,1 Lithium Polymer batteries required. (included),"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

In [36]:


df_dataset.batteries.unique()

array(['1 Lithium Polymer batteries required. (included)',
       '1 Lithium ion batteries required. (included)',
       '1 A batteries required. (included)',
       '2 Lithium ion batteries required. (included)',
       '1 AAA batteries required. (included)',
       '1 C batteries required. (included)'], dtype=object)

In [37]:
df_dataset.batteries.apply(lambda x: x.replace(" batteries required. (included)","")).unique()

array(['1 Lithium Polymer', '1 Lithium ion', '1 A', '2 Lithium ion',
       '1 AAA', '1 C'], dtype=object)

In [38]:
df_dataset.batteries=df_dataset.batteries.apply(lambda x: x.replace(" batteries required. (included)",""))

## 10. company

In [39]:
df_dataset.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,Samsung India pvt Ltd,India,Android,6,16.5 x 7.6 x 0.7 cm,167,1 Lithium Polymer,"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

In [40]:
df_dataset.manufacturer=df_dataset.manufacturer.apply(lambda x : x.lower())

In [41]:
df_dataset.manufacturer.unique()

array(['samsung india pvt ltd', 'oneplus',
       'oppo mobiles india privte limited', 'oppo mobiles india pvt ltd',
       'bhagwati products ltd. sp1-1 industrial area karoli tapukara extn. bhiwadi rajasthan india',
       'sky cable', 'oppo mobiles india private limited', 'oppo',
       'xiaomi', 'padget electronics private limited', 'realme',
       'samsung india electronics private limited', 'hmd global', 'vivo',
       'samsung india private limited', 'iqoo',
       'rising stars mobile india private limited', 'redmi',
       'vivo mobile india pvt ltd', 'gionee', 'g mobiles india', 'lg',
       'google llc 1600 amphitheatre pkwy mountain view ca 94043 united states',
       'samsung', 'panasonic', 'google', 'oppo mobiles india pvt. ltd.',
       'motorola india pvt ltd', 'lg electronics india pvt ltd',
       'lava international', 's mobile devices private ltd',
       'g mobile india', 'g mobiles', 'karbonn', 'micromax',
       'g mobiles pvt ltd', 'maplin'], dtype=object)

In [42]:
df_dataset.manufacturer=df_dataset.manufacturer.apply(lambda x : "g mobile" if   ("g mobile" in x) else x )

In [43]:
df_dataset.manufacturer.unique()

array(['samsung india pvt ltd', 'oneplus',
       'oppo mobiles india privte limited', 'oppo mobiles india pvt ltd',
       'bhagwati products ltd. sp1-1 industrial area karoli tapukara extn. bhiwadi rajasthan india',
       'sky cable', 'oppo mobiles india private limited', 'oppo',
       'xiaomi', 'padget electronics private limited', 'realme',
       'samsung india electronics private limited', 'hmd global', 'vivo',
       'samsung india private limited', 'iqoo',
       'rising stars mobile india private limited', 'redmi',
       'vivo mobile india pvt ltd', 'gionee', 'g mobile', 'lg',
       'google llc 1600 amphitheatre pkwy mountain view ca 94043 united states',
       'samsung', 'panasonic', 'google', 'oppo mobiles india pvt. ltd.',
       'motorola india pvt ltd', 'lg electronics india pvt ltd',
       'lava international', 's mobile devices private ltd', 'karbonn',
       'micromax', 'maplin'], dtype=object)

In [44]:
df_dataset.manufacturer=df_dataset.manufacturer.apply(lambda x : "oppo" if   ("oppo" in x) else x )

In [45]:
df_dataset.manufacturer.unique()

array(['samsung india pvt ltd', 'oneplus', 'oppo',
       'bhagwati products ltd. sp1-1 industrial area karoli tapukara extn. bhiwadi rajasthan india',
       'sky cable', 'xiaomi', 'padget electronics private limited',
       'realme', 'samsung india electronics private limited',
       'hmd global', 'vivo', 'samsung india private limited', 'iqoo',
       'rising stars mobile india private limited', 'redmi',
       'vivo mobile india pvt ltd', 'gionee', 'g mobile', 'lg',
       'google llc 1600 amphitheatre pkwy mountain view ca 94043 united states',
       'samsung', 'panasonic', 'google', 'motorola india pvt ltd',
       'lg electronics india pvt ltd', 'lava international',
       's mobile devices private ltd', 'karbonn', 'micromax', 'maplin'],
      dtype=object)

In [46]:
df_dataset.manufacturer=df_dataset.manufacturer.apply(lambda x : "samsung" if   ("samsung" in x) else x )

In [47]:
df_dataset.manufacturer.unique()

array(['samsung', 'oneplus', 'oppo',
       'bhagwati products ltd. sp1-1 industrial area karoli tapukara extn. bhiwadi rajasthan india',
       'sky cable', 'xiaomi', 'padget electronics private limited',
       'realme', 'hmd global', 'vivo', 'iqoo',
       'rising stars mobile india private limited', 'redmi',
       'vivo mobile india pvt ltd', 'gionee', 'g mobile', 'lg',
       'google llc 1600 amphitheatre pkwy mountain view ca 94043 united states',
       'panasonic', 'google', 'motorola india pvt ltd',
       'lg electronics india pvt ltd', 'lava international',
       's mobile devices private ltd', 'karbonn', 'micromax', 'maplin'],
      dtype=object)

In [48]:
df_dataset.manufacturer=df_dataset.manufacturer.apply(lambda x : "google" if   ("google" in x) else x )

In [49]:
df_dataset.manufacturer.unique()

array(['samsung', 'oneplus', 'oppo',
       'bhagwati products ltd. sp1-1 industrial area karoli tapukara extn. bhiwadi rajasthan india',
       'sky cable', 'xiaomi', 'padget electronics private limited',
       'realme', 'hmd global', 'vivo', 'iqoo',
       'rising stars mobile india private limited', 'redmi',
       'vivo mobile india pvt ltd', 'gionee', 'g mobile', 'lg', 'google',
       'panasonic', 'motorola india pvt ltd',
       'lg electronics india pvt ltd', 'lava international',
       's mobile devices private ltd', 'karbonn', 'micromax', 'maplin'],
      dtype=object)

In [50]:
df_dataset.manufacturer=df_dataset.manufacturer.apply(lambda x : "lg" if   ("lg" in x) else x )

In [51]:
df_dataset.manufacturer.unique()

array(['samsung', 'oneplus', 'oppo',
       'bhagwati products ltd. sp1-1 industrial area karoli tapukara extn. bhiwadi rajasthan india',
       'sky cable', 'xiaomi', 'padget electronics private limited',
       'realme', 'hmd global', 'vivo', 'iqoo',
       'rising stars mobile india private limited', 'redmi',
       'vivo mobile india pvt ltd', 'gionee', 'g mobile', 'lg', 'google',
       'panasonic', 'motorola india pvt ltd', 'lava international',
       's mobile devices private ltd', 'karbonn', 'micromax', 'maplin'],
      dtype=object)

In [52]:
df_dataset.manufacturer=df_dataset.manufacturer.apply(lambda x : "vivo" if   ("vivo" in x) else x )

In [53]:
for i in df_dataset.manufacturer.unique():
  print(i)

samsung
oneplus
oppo
bhagwati products ltd. sp1-1 industrial area karoli tapukara extn. bhiwadi rajasthan india
sky cable
xiaomi
padget electronics private limited
realme
hmd global
vivo
iqoo
rising stars mobile india private limited
redmi
gionee
g mobile
lg
google
panasonic
motorola india pvt ltd
lava international
s mobile devices private ltd
karbonn
micromax
maplin

## 11. save data after clean

In [54]:
df_dataset.to_csv('../data_cleaned/Amazon_Mobile_Data_cleaned.csv',index=False)

# III. Dim

## 1. Load data clean

In [165]:
df_dataset_cleaned=pd.read_csv('../data_cleaned/Amazon_Mobile_Data_cleaned.csv')
df_dataset_cleaned.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,samsung,India,Android,6,16.5 x 7.6 x 0.7 cm,167.0,1 Lithium Polymer,"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

In [56]:
df_dataset_cleaned.columns

Index(['title', 'price', 'rating', 'total_reviews', 'availability_status',
       'manufacturer', 'country_of_origin', 'os', 'ram', 'product_dimensions',
       'weight', 'batteries', 'special_features', 'form_factor', 'colour',
       'battery_power_rating', 'product_description'],
      dtype='object')

## 2. Dim product_dimensions ( length x width x height cm)

In [57]:
df_dataset_cleaned["product_dimensions"].unique()[0:10]

array(['16.5 x 7.6 x 0.7 cm', '15 x 1 x 7.5 cm', '16.3 x 7.5 x 0.8 cm',
       '16.1 x 7.6 x 0.9 cm', '15.4 x 0.9 x 7.4 cm',
       '0.9 x 7.6 x 16.4 cm', '16.39 x 7.53 x 0.85 cm',
       '16.2 x 1 x 7.7 cm', '16.6 x 7.6 x 0.8 cm', '16 x 0.7 x 7.5 cm'],
      dtype=object)

In [58]:
len(df_dataset_cleaned["product_dimensions"])

264

In [59]:
df_dataset_cleaned["product_dimensions"][0:5]

0    16.5 x 7.6 x 0.7 cm
1        15 x 1 x 7.5 cm
2    16.3 x 7.5 x 0.8 cm
3    16.1 x 7.6 x 0.9 cm
4    15.4 x 0.9 x 7.4 cm
Name: product_dimensions, dtype: object

In [60]:
df_product_dimension=pd.DataFrame()

In [61]:
df_product_dimension["product_dimensions"]=df_dataset_cleaned["product_dimensions"]

In [62]:
df_product_dimension.head(5)

    product_dimensions
0  16.5 x 7.6 x 0.7 cm
1      15 x 1 x 7.5 cm
2  16.3 x 7.5 x 0.8 cm
3  16.1 x 7.6 x 0.9 cm
4  15.4 x 0.9 x 7.4 cm

In [63]:
len(df_product_dimension)

264

In [64]:
df_product_dimension=df_product_dimension.drop_duplicates()
len(df_product_dimension)

93

In [65]:
print(df_product_dimension["product_dimensions"].apply(lambda x: x.split(" x ")[0])[0:5])

0    16.5
1      15
2    16.3
3    16.1
4    15.4
Name: product_dimensions, dtype: object

In [66]:
df_product_dimension["product_dimension_length"]=df_product_dimension["product_dimensions"].apply(lambda x: x.split(" x ")[0])

In [67]:
df_product_dimension.head(5)

    product_dimensions product_dimension_length
0  16.5 x 7.6 x 0.7 cm                     16.5
1      15 x 1 x 7.5 cm                       15
2  16.3 x 7.5 x 0.8 cm                     16.3
3  16.1 x 7.6 x 0.9 cm                     16.1
4  15.4 x 0.9 x 7.4 cm                     15.4

In [68]:
print(df_product_dimension["product_dimensions"].apply(lambda x: x.split(" x ")[1])[0:5])

0    7.6
1      1
2    7.5
3    7.6
4    0.9
Name: product_dimensions, dtype: object

In [69]:
df_product_dimension["product_dimension_width"] = df_product_dimension["product_dimensions"].apply(lambda x: x.split(" x ")[1])

In [70]:
df_product_dimension.head(5)

    product_dimensions product_dimension_length product_dimension_width
0  16.5 x 7.6 x 0.7 cm                     16.5                     7.6
1      15 x 1 x 7.5 cm                       15                       1
2  16.3 x 7.5 x 0.8 cm                     16.3                     7.5
3  16.1 x 7.6 x 0.9 cm                     16.1                     7.6
4  15.4 x 0.9 x 7.4 cm                     15.4                     0.9

In [71]:
print(df_product_dimension["product_dimensions"].apply(lambda x: x.split(" x ")[2][0:-3])[0:5])

0    0.7
1    7.5
2    0.8
3    0.9
4    7.4
Name: product_dimensions, dtype: object

In [72]:
df_product_dimension["product_dimension_height"] = df_product_dimension["product_dimensions"].apply(lambda x: x.split(" x ")[2][0:-3])

In [73]:
df_product_dimension.head(5)

,product_dimensions,product_dimension_length,product_dimension_width,product_dimension_height
0,16.5 x 7.6 x 0.7 cm,16.5,7.6,0.7
1,15 x 1 x 7.5 cm,15,1,7.5
2,16.3 x 7.5 x 0.8 cm,16.3,7.5,0.8
3,16.1 x 7.6 x 0.9 cm,16.1,7.6,0.9
4,15.4 x 0.9 x 7.4 cm,15.4,0.9,7.4

In [74]:
print(len(df_product_dimension))

93

In [75]:
df_product_dimension.to_csv('../data_cleaned/df_product_dimensions.csv',index=False)

## 3. Dim special_features

In [76]:
for feature in df_dataset_cleaned.special_features[0:10]:
  print(feature)

Dual Bluetooth Audio, IR Blaster, X-Axis Haptic Motor, Wi-Fi 6, IP 53 Certified, 33W Fast Charger in box, 50% in 19 mins, Flagship 108MP Triple Camera Setup 8MP Ultrawide-FOV 119 degrees 5MP Super Macro Sensor Slow Motion Support - Up to 1080p@960 fps Portrait | Panaroma | Dual Mode | Vlog Mode | Clone Mode | Time Lapse | Long Exposure | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Macro and Ultrawide video mode | Movie effects | Time burst | Google Lens | AI Watermark | Pro Colour, Premium glass body design with Gorilla glass 5 on front and back, Dual Stereo Speakers with Dolby Atmos support, Wired and wireless Hi-Res certified audio, triple mic setup.NavIC support
Dual SIM
Front Camera, Dual_Sim, Camera, Fast Charging
Fast Charging Support, Dual SIM, Fingerprint Sensor, Smartphone
Dual SIM, Infrared, E-mail, Accelerometer, Ambient light sensor, Gyroscope, GPS, Video Player, Music Player, Proximity sensor
Front Camera, Camera
Light sensor, Acceleration sensor, Other sensors, Magnetic induction, Fingerprint, Proximity Sensor, Dual SIM, GPS, G-sensor, Video Player, Music Player
Dual SIM, GPS, Video Player, Music Player
Dual SIM, Serial_number, GPS
Front Camera, Camera

In [77]:
for feature in df_dataset_cleaned.special_features.unique():
  if('|' in feature):
    print(feature)

Dual Bluetooth Audio, IR Blaster, X-Axis Haptic Motor, Wi-Fi 6, IP 53 Certified, 33W Fast Charger in box, 50% in 19 mins, Flagship 108MP Triple Camera Setup 8MP Ultrawide-FOV 119 degrees 5MP Super Macro Sensor Slow Motion Support - Up to 1080p@960 fps Portrait | Panaroma | Dual Mode | Vlog Mode | Clone Mode | Time Lapse | Long Exposure | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Macro and Ultrawide video mode | Movie effects | Time burst | Google Lens | AI Watermark | Pro Colour, Premium glass body design with Gorilla glass 5 on front and back, Dual Stereo Speakers with Dolby Atmos support, Wired and wireless Hi-Res certified audio, triple mic setup.NavIC support
Dual Stereo Speakers with Dolby Atmos support, Wired and wireless Hi-Res certified audio, triple mic setup. NavIC support, IR Blaster, X-Axis Haptic Motor, Wi-Fi 6, IP 53 Certified, 48MP AI Triple Camera Setup with Sony IMX 582 Primary sensor 8MP Ultrawide-FOV 119 degrees 5MP Super Macro Sensor Slow Motion Support - Up to 1080p@960 fps Portrait | Panaroma | Dual Mode | Vlog Mode | Clone Mode | Time Lapse | Long Exposure | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Macro and Ultrawide video mode | Movie effects | Time burst | Google Lens | AI Watermark, 33W Fast Charger in box, 50% in 19 mins, Premium glass body design with Gorilla glass 5 on front and back
Dual Stereo Speakers for immersive audio experience, The display is protected by Corning Gorilla Glass 3, 33W Fast Charger in box, 67% in 30 mins, 3.5mm Jack, IR Blaster, Dedicated Micro SD Slot, Z-Axis Linear Vibration Motor, 48 MP AI Quad Camera Setup 8MP Ultrawide-FOV 118 degrees 2 MP Macro Sensor 2 MP Depth Sensor Slow Motion Support - Up to 960 fps Portrait | Panaroma | Time Lapse | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Video macro mode | Movie frame | Time burst | Google Lens| AI Watermark
Dual Stereo Speakers for immersive audio experience, The display is protected by Corning Gorilla Glass 5, 64MP AI Quad Camera Setup 8MP Ultrawide-FOV 118 degrees 5MP Macro Sensor 2 MP Depth Sensor Slow Motion Support - Up to 960 fps Portrait | Panaroma | Dual Mode | Vlog Mode | Clone Mode | Time Lapse | Long Exposure | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Video macro mode | Movie frame | Time burst | Google Lens| AI Watermark, 3.5mm Jack, IR Blaster, Dedicated Micro SD Slot, Z-Axis Linear Vibration Motor, IP 52 Certified, 33W Fast Charger in box, 49% in 30 mins
Dual Stereo Speakers for immersive audio experience, The display is protected by Corning Gorilla Glass 5, 3.5mm Jack, IR Blaster, Dedicated Micro SD Slot, Z-Axis Linear Vibration Motor, IP 52 Certified, Flagship 108MP Main Camera 8MP Ultrawide-FOV 118 degrees 5MP Macro Sensor 2MP Depth Sensor Slow Motion Support - Up to 960 fps Portrait | Panaroma | Dual Mode | Vlog Mode | Clone Mode | Time Lapse | Long Exposure | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Video macro mode | Movie frame | Time burst | Google Lens| AI Watermark, 33W Fast Charger in box, 49% in 30 mins
33W Fast Charger in box, 54% in 30 mins, The display is protected by Corning Gorilla Glass 3, 64 MP AI Quad Camera Setup 8MP Ultrawide-FOV 118 degrees 2 MP Macro Sensor 2 MP Depth Sensor Slow Motion Support - Up to 960 fps Portrait | Panaroma | Time Lapse | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Video macro mode | Movie frame | Time burst | Google Lens| AI Watermark, Dual Stereo Speakers for immersive audio experience. Hi-Res certified audio, 3.5mm Jack, IR Blaster, Dedicated Micro SD Slot, Z-Axis Linear Vibration Motor

In [78]:
special_feature_unique=[]
for list_feature in df_dataset_cleaned.special_features.apply(lambda x: x.split(", ")):
  for feature in list_feature:
    if feature not in special_feature_unique:
      special_feature_unique.append(feature)

In [79]:
special_feature_unique[0:10]

['Dual Bluetooth Audio',
 'IR Blaster',
 'X-Axis Haptic Motor',
 'Wi-Fi 6',
 'IP 53 Certified',
 '33W Fast Charger in box',
 '50% in 19 mins',
 'Flagship 108MP Triple Camera Setup 8MP Ultrawide-FOV 119 degrees 5MP Super Macro Sensor Slow Motion Support - Up to 1080p@960 fps Portrait | Panaroma | Dual Mode | Vlog Mode | Clone Mode | Time Lapse | Long Exposure | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Macro and Ultrawide video mode | Movie effects | Time burst | Google Lens | AI Watermark | Pro Colour',
 'Premium glass body design with Gorilla glass 5 on front and back',
 'Dual Stereo Speakers with Dolby Atmos support']

In [80]:
import re
import re
def contains_special_characters(text):
    pattern = r'[^\w\s]'
    matches = re.findall(pattern, text)
    return len(matches) > 0

special_feature_nomaly=[]
special_feature_anomaly=[]
for feature in special_feature_unique:
  if(contains_special_characters(feature)):
    special_feature_anomaly.append(feature)
  else:
    special_feature_nomaly.append(feature)

In [81]:
print(len(special_feature_anomaly))
print(len(special_feature_nomaly))

78
147

In [82]:
special_feature_nomaly[0:20]

['Dual Bluetooth Audio',
 'IR Blaster',
 'IP 53 Certified',
 '33W Fast Charger in box',
 'Premium glass body design with Gorilla glass 5 on front and back',
 'Dual Stereo Speakers with Dolby Atmos support',
 'Dual SIM',
 'Front Camera',
 'Dual_Sim',
 'Camera',
 'Fast Charging',
 'Fast Charging Support',
 'Fingerprint Sensor',
 'Smartphone',
 'Infrared',
 'Accelerometer',
 'Ambient light sensor',
 'Gyroscope',
 'GPS',
 'Video Player']

In [83]:
special_feature_anomaly[0:20]

['X-Axis Haptic Motor',
 'Wi-Fi 6',
 '50% in 19 mins',
 'Flagship 108MP Triple Camera Setup 8MP Ultrawide-FOV 119 degrees 5MP Super Macro Sensor Slow Motion Support - Up to 1080p@960 fps Portrait | Panaroma | Dual Mode | Vlog Mode | Clone Mode | Time Lapse | Long Exposure | Pro Mode | Night Mode | Short Video Mode | Ultra wide-angle distortion correction | Custom Watermark | Document mode | HDR | AI scene detection | Macro and Ultrawide video mode | Movie effects | Time burst | Google Lens | AI Watermark | Pro Colour',
 'Wired and wireless Hi-Res certified audio',
 'triple mic setup.NavIC support',
 'E-mail',
 'G-sensor',
 'E-compass and Gyroscope sensor',
 'Knox 3.7 with Secure Folder',
 'Knox 3.7',
 '4500mAH lithium-ion battery (non-removable)',
 'Main camera features: Clear',
 'high-resolution photos',
 'and filters.',
 'In-display fingerprint sensor.',
 'Front camera features - Face Unlock',
 'Thickness: 7.9mm',
 'slimmest OnePlus phone since the OnePlus 6T. Weight: 170g',
 'Audio Share 2.0']

In [84]:
special_feature_anomaly_v1=[]
raw=0
for list_feature in special_feature_anomaly:
  for feature_raw in list_feature.split(" | "):
    if(";" in feature_raw):
      #print(feature)
      #print("raw",feature_raw)
      for  feature_raw_v1 in feature_raw.split(";"):
          for  feature_raw_v2 in feature_raw_v1.split(";"):
              for  feature_raw_v3 in feature_raw_v2.split(" - "):
                if len(feature_raw_v3)>0: 
                  #print('check',feature_raw_v3)
                  special_feature_nomaly.append(feature_raw_v3)
                  
          
    else:
      #special_feature_nomaly.append(feature_raw)
      for  feature_raw_v1 in feature_raw.split(" - "):
        if len(feature_raw_v1)>0: 
          #print('check',feature_raw_v1)
          special_feature_nomaly.append(feature_raw_v1)

In [85]:
special_feature_nomaly[-20:-1]

['Hearing Aid Compatibility: M3/T3 HAC Rating',
 "Google's Devices Meet the Hearing Aid Compatibility (HAC) Requirements Set by the FCC",
 'Built-in Google Assistant',
 '64-bit Octa-core Processo',
 'Camera: Front Camera & Rear Camera',
 'perfect camera & an in-built safety app',
 '256',
 'Dual SIM',
 'GPS',
 'Music Player',
 'Video Player',
 'In-display Fingerprint sensor',
 'Accelerometer',
 'Electronic Compass',
 'Gyroscope',
 'Ambient Light sensor',
 'Proximity sensor',
 'sensor Core',
 'Flicker-detect sensor']

In [86]:
len(special_feature_nomaly)

366

In [87]:
count=0;
special_feature_nomaly_unique=[]
for feature in special_feature_nomaly:
  if feature not in special_feature_nomaly_unique:
    special_feature_nomaly_unique.append(feature)

In [88]:
len(special_feature_nomaly_unique)

249

In [89]:
import uuid

list_uuid=[]
for i in range(0,len(special_feature_nomaly_unique)):
  #print(i)
  list_uuid.append(uuid.uuid1())

In [90]:
print(list_uuid)

[UUID('7f7ae427-0fc8-11ee-a9f1-3c9c0f728f90'), UUID('7f7ae428-0fc8-11ee-91a8-3c9c0f728f90'), UUID('7f7ae429-0fc8-11ee-8ba0-3c9c0f728f90'), UUID('7f7ae42a-0fc8-11ee-a71c-3c9c0f728f90'), UUID('7f7ae42b-0fc8-11ee-be02-3c9c0f728f90'), UUID('7f7ae42c-0fc8-11ee-8030-3c9c0f728f90'), UUID('7f7ae42d-0fc8-11ee-96c8-3c9c0f728f90'), UUID('7f7ae42e-0fc8-11ee-b8ff-3c9c0f728f90'), UUID('7f7ae42f-0fc8-11ee-86f5-3c9c0f728f90'), UUID('7f7ae430-0fc8-11ee-8a4e-3c9c0f728f90'), UUID('7f7ae431-0fc8-11ee-84b8-3c9c0f728f90'), UUID('7f7ae432-0fc8-11ee-b7bf-3c9c0f728f90'), UUID('7f7ae433-0fc8-11ee-ac0a-3c9c0f728f90'), UUID('7f7ae434-0fc8-11ee-a47d-3c9c0f728f90'), UUID('7f7ae435-0fc8-11ee-83f9-3c9c0f728f90'), UUID('7f7ae436-0fc8-11ee-a38a-3c9c0f728f90'), UUID('7f7ae437-0fc8-11ee-bd1e-3c9c0f728f90'), UUID('7f7ae438-0fc8-11ee-8f18-3c9c0f728f90'), UUID('7f7ae439-0fc8-11ee-a0ab-3c9c0f728f90'), UUID('7f7ae43a-0fc8-11ee-8ba8-3c9c0f728f90'), UUID('7f7ae43b-0fc8-11ee-84e4-3c9c0f728f90'), UUID('7f7ae43c-0fc8-11ee-82bc-3c9c0f728f90'), UUID('7f7ae43d-0fc8-11ee-91cb-3c9c0f728f90'), UUID('7f7ae43e-0fc8-11ee-919a-3c9c0f728f90'), UUID('7f7ae43f-0fc8-11ee-91e0-3c9c0f728f90'), UUID('7f7ae440-0fc8-11ee-9ef5-3c9c0f728f90'), UUID('7f7ae441-0fc8-11ee-9592-3c9c0f728f90'), UUID('7f7ae442-0fc8-11ee-9f7c-3c9c0f728f90'), UUID('7f7ae443-0fc8-11ee-a881-3c9c0f728f90'), UUID('7f7ae444-0fc8-11ee-bb41-3c9c0f728f90'), UUID('7f7ae445-0fc8-11ee-bacf-3c9c0f728f90'), UUID('7f7ae446-0fc8-11ee-90c6-3c9c0f728f90'), UUID('7f7ae447-0fc8-11ee-9992-3c9c0f728f90'), UUID('7f7ae448-0fc8-11ee-a94d-3c9c0f728f90'), UUID('7f7ae449-0fc8-11ee-ac94-3c9c0f728f90'), UUID('7f7ae44a-0fc8-11ee-bb34-3c9c0f728f90'), UUID('7f7ae44b-0fc8-11ee-ad70-3c9c0f728f90'), UUID('7f7ae44c-0fc8-11ee-bc30-3c9c0f728f90'), UUID('7f7ae44d-0fc8-11ee-8878-3c9c0f728f90'), UUID('7f7ae44e-0fc8-11ee-a695-3c9c0f728f90'), UUID('7f7ae44f-0fc8-11ee-a257-3c9c0f728f90'), UUID('7f7ae450-0fc8-11ee-b9c7-3c9c0f728f90'), UUID('7f7ae451-0fc8-11ee-900d-3c9c0f728f90'), UUID('7f7ae452-0fc8-11ee-8da9-3c9c0f728f90'), UUID('7f7ae453-0fc8-11ee-8336-3c9c0f728f90'), UUID('7f7ae454-0fc8-11ee-b053-3c9c0f728f90'), UUID('7f7ae455-0fc8-11ee-b04b-3c9c0f728f90'), UUID('7f7ae456-0fc8-11ee-b7b6-3c9c0f728f90'), UUID('7f7ae457-0fc8-11ee-8e8c-3c9c0f728f90'), UUID('7f7ae458-0fc8-11ee-bbb4-3c9c0f728f90'), UUID('7f7ae459-0fc8-11ee-b66e-3c9c0f728f90'), UUID('7f7ae45a-0fc8-11ee-96f7-3c9c0f728f90'), UUID('7f7ae45b-0fc8-11ee-968e-3c9c0f728f90'), UUID('7f7ae45c-0fc8-11ee-8ae7-3c9c0f728f90'), UUID('7f7ae45d-0fc8-11ee-b5a6-3c9c0f728f90'), UUID('7f7ae45e-0fc8-11ee-aaab-3c9c0f728f90'), UUID('7f7ae45f-0fc8-11ee-9bf6-3c9c0f728f90'), UUID('7f7ae460-0fc8-11ee-aa5c-3c9c0f728f90'), UUID('7f7ae461-0fc8-11ee-a5b2-3c9c0f728f90'), UUID('7f7ae462-0fc8-11ee-8e8f-3c9c0f728f90'), UUID('7f7ae463-0fc8-11ee-9b48-3c9c0f728f90'), UUID('7f7ae464-0fc8-11ee-9007-3c9c0f728f90'), UUID('7f7ae465-0fc8-11ee-ba51-3c9c0f728f90'), UUID('7f7ae466-0fc8-11ee-85c9-3c9c0f728f90'), UUID('7f7ae467-0fc8-11ee-9581-3c9c0f728f90'), UUID('7f7ae468-0fc8-11ee-b4df-3c9c0f728f90'), UUID('7f7ae469-0fc8-11ee-bc4a-3c9c0f728f90'), UUID('7f7ae46a-0fc8-11ee-99c5-3c9c0f728f90'), UUID('7f7ae46b-0fc8-11ee-a8ce-3c9c0f728f90'), UUID('7f7ae46c-0fc8-11ee-846d-3c9c0f728f90'), UUID('7f7ae46d-0fc8-11ee-84a3-3c9c0f728f90'), UUID('7f7ae46e-0fc8-11ee-9cc8-3c9c0f728f90'), UUID('7f7ae46f-0fc8-11ee-8f23-3c9c0f728f90'), UUID('7f7ae470-0fc8-11ee-91c6-3c9c0f728f90'), UUID('7f7ae471-0fc8-11ee-9a16-3c9c0f728f90'), UUID('7f7ae472-0fc8-11ee-b19e-3c9c0f728f90'), UUID('7f7ae473-0fc8-11ee-848d-3c9c0f728f90'), UUID('7f7ae474-0fc8-11ee-8eca-3c9c0f728f90'), UUID('7f7ae475-0fc8-11ee-9e54-3c9c0f728f90'), UUID('7f7ae476-0fc8-11ee-8c26-3c9c0f728f90'), UUID('7f7ae477-0fc8-11ee-88dd-3c9c0f728f90'), UUID('7f7ae478-0fc8-11ee-98b6-3c9c0f728f90'), UUID('7f7ae479-0fc8-11ee-9013-3c9c0f728f90'), UUID('7f7ae47a-0fc8-11ee-bb27-3c9c0f728f90'), UUID('7f7ae47b-0fc8-11ee-b298-3c9c0f728f90'), UUID('7f7ae47c-0fc8-11ee-b638-3c9c0f728f90'), UUID('7f7ae47d-0fc8-11ee-b438-3c9c0f728f90'), UUID('7f7ae47e-0fc8-11ee-b569-3c9c0f728f90'), UUID('7f7ae47f-0fc8-11ee-90d9-3c9c0f728f90'), UUID('7f7ae480-0fc8-11ee-a9fe-3c9c0f728f90'), UUID('7f7ae481-0fc8-11ee-8e8b-3c9c0f728f90'), UUID('7f7ae482-0fc8-11ee-adda-3c9c0f728f90'), UUID('7f7ae483-0fc8-11ee-a680-3c9c0f728f90'), UUID('7f7ae484-0fc8-11ee-ae16-3c9c0f728f90'), UUID('7f7ae485-0fc8-11ee-be6e-3c9c0f728f90'), UUID('7f7ae486-0fc8-11ee-9bbd-3c9c0f728f90'), UUID('7f7ae487-0fc8-11ee-8ac5-3c9c0f728f90'), UUID('7f7ae488-0fc8-11ee-815f-3c9c0f728f90'), UUID('7f7ae489-0fc8-11ee-bcdf-3c9c0f728f90'), UUID('7f7ae48a-0fc8-11ee-924f-3c9c0f728f90'), UUID('7f7ae48b-0fc8-11ee-8577-3c9c0f728f90'), UUID('7f7ae48c-0fc8-11ee-8f6a-3c9c0f728f90'), UUID('7f7ae48d-0fc8-11ee-a6b0-3c9c0f728f90'), UUID('7f7ae48e-0fc8-11ee-b27d-3c9c0f728f90'), UUID('7f7ae48f-0fc8-11ee-b6a4-3c9c0f728f90'), UUID('7f7ae490-0fc8-11ee-a5ae-3c9c0f728f90'), UUID('7f7ae491-0fc8-11ee-8f24-3c9c0f728f90'), UUID('7f7ae492-0fc8-11ee-b1e5-3c9c0f728f90'), UUID('7f7ae493-0fc8-11ee-ae66-3c9c0f728f90'), UUID('7f7ae494-0fc8-11ee-9fbd-3c9c0f728f90'), UUID('7f7ae495-0fc8-11ee-8735-3c9c0f728f90'), UUID('7f7ae496-0fc8-11ee-b7e2-3c9c0f728f90'), UUID('7f7ae497-0fc8-11ee-83fa-3c9c0f728f90'), UUID('7f7ae498-0fc8-11ee-bfd3-3c9c0f728f90'), UUID('7f7ae499-0fc8-11ee-95ba-3c9c0f728f90'), UUID('7f7ae49a-0fc8-11ee-baac-3c9c0f728f90'), UUID('7f7ae49b-0fc8-11ee-a786-3c9c0f728f90'), UUID('7f7ae49c-0fc8-11ee-8edc-3c9c0f728f90'), UUID('7f7ae49d-0fc8-11ee-991a-3c9c0f728f90'), UUID('7f7ae49e-0fc8-11ee-9ecd-3c9c0f728f90'), UUID('7f7ae49f-0fc8-11ee-9be2-3c9c0f728f90'), UUID('7f7ae4a0-0fc8-11ee-b81e-3c9c0f728f90'), UUID('7f7ae4a1-0fc8-11ee-bcf3-3c9c0f728f90'), UUID('7f7ae4a2-0fc8-11ee-b867-3c9c0f728f90'), UUID('7f7ae4a3-0fc8-11ee-8c36-3c9c0f728f90'), UUID('7f7ae4a4-0fc8-11ee-b130-3c9c0f728f90'), UUID('7f7ae4a5-0fc8-11ee-8442-3c9c0f728f90'), UUID('7f7ae4a6-0fc8-11ee-a7db-3c9c0f728f90'), UUID('7f7ae4a7-0fc8-11ee-9c0a-3c9c0f728f90'), UUID('7f7ae4a8-0fc8-11ee-abea-3c9c0f728f90'), UUID('7f7ae4a9-0fc8-11ee-8f40-3c9c0f728f90'), UUID('7f7ae4aa-0fc8-11ee-b099-3c9c0f728f90'), UUID('7f7ae4ab-0fc8-11ee-8208-3c9c0f728f90'), UUID('7f7ae4ac-0fc8-11ee-a8d0-3c9c0f728f90'), UUID('7f7ae4ad-0fc8-11ee-8387-3c9c0f728f90'), UUID('7f7ae4ae-0fc8-11ee-908c-3c9c0f728f90'), UUID('7f7ae4af-0fc8-11ee-945f-3c9c0f728f90'), UUID('7f7ae4b0-0fc8-11ee-8ba0-3c9c0f728f90'), UUID('7f7ae4b1-0fc8-11ee-b2e0-3c9c0f728f90'), UUID('7f7ae4b2-0fc8-11ee-8aec-3c9c0f728f90'), UUID('7f7ae4b3-0fc8-11ee-baeb-3c9c0f728f90'), UUID('7f7ae4b4-0fc8-11ee-adb5-3c9c0f728f90'), UUID('7f7ae4b5-0fc8-11ee-b94a-3c9c0f728f90'), UUID('7f7ae4b6-0fc8-11ee-8b04-3c9c0f728f90'), UUID('7f7ae4b7-0fc8-11ee-b027-3c9c0f728f90'), UUID('7f7ae4b8-0fc8-11ee-8a65-3c9c0f728f90'), UUID('7f7ae4b9-0fc8-11ee-9208-3c9c0f728f90'), UUID('7f7ae4ba-0fc8-11ee-974a-3c9c0f728f90'), UUID('7f7ae4bb-0fc8-11ee-a0b4-3c9c0f728f90'), UUID('7f7ae4bc-0fc8-11ee-8ee5-3c9c0f728f90'), UUID('7f7ae4bd-0fc8-11ee-a6a2-3c9c0f728f90'), UUID('7f7ae4be-0fc8-11ee-a5d7-3c9c0f728f90'), UUID('7f7ae4bf-0fc8-11ee-ac47-3c9c0f728f90'), UUID('7f7ae4c0-0fc8-11ee-8c0b-3c9c0f728f90'), UUID('7f7ae4c1-0fc8-11ee-93e7-3c9c0f728f90'), UUID('7f7ae4c2-0fc8-11ee-be3d-3c9c0f728f90'), UUID('7f7ae4c3-0fc8-11ee-9566-3c9c0f728f90'), UUID('7f7ae4c4-0fc8-11ee-9442-3c9c0f728f90'), UUID('7f7ae4c5-0fc8-11ee-a338-3c9c0f728f90'), UUID('7f7ae4c6-0fc8-11ee-909f-3c9c0f728f90'), UUID('7f7ae4c7-0fc8-11ee-892a-3c9c0f728f90'), UUID('7f7ae4c8-0fc8-11ee-b5c6-3c9c0f728f90'), UUID('7f7ae4c9-0fc8-11ee-9c8e-3c9c0f728f90'), UUID('7f7ae4ca-0fc8-11ee-8674-3c9c0f728f90'), UUID('7f7ae4cb-0fc8-11ee-b75f-3c9c0f728f90'), UUID('7f7ae4cc-0fc8-11ee-af5f-3c9c0f728f90'), UUID('7f7ae4cd-0fc8-11ee-b9b0-3c9c0f728f90'), UUID('7f7ae4ce-0fc8-11ee-a39c-3c9c0f728f90'), UUID('7f7ae4cf-0fc8-11ee-991e-3c9c0f728f90'), UUID('7f7ae4d0-0fc8-11ee-8102-3c9c0f728f90'), UUID('7f7ae4d1-0fc8-11ee-88fd-3c9c0f728f90'), UUID('7f7ae4d2-0fc8-11ee-b377-3c9c0f728f90'), UUID('7f7ae4d3-0fc8-11ee-aec1-3c9c0f728f90'), UUID('7f7ae4d4-0fc8-11ee-a2d0-3c9c0f728f90'), UUID('7f7ae4d5-0fc8-11ee-b017-3c9c0f728f90'), UUID('7f7ae4d6-0fc8-11ee-8410-3c9c0f728f90'), UUID('7f7ae4d7-0fc8-11ee-9042-3c9c0f728f90'), UUID('7f7ae4d8-0fc8-11ee-957a-3c9c0f728f90'), UUID('7f7ae4d9-0fc8-11ee-a217-3c9c0f728f90'), UUID('7f7ae4da-0fc8-11ee-8b74-3c9c0f728f90'), UUID('7f7ae4db-0fc8-11ee-b01f-3c9c0f728f90'), UUID('7f7ae4dc-0fc8-11ee-9e0f-3c9c0f728f90'), UUID('7f7ae4dd-0fc8-11ee-b7b4-3c9c0f728f90'), UUID('7f7ae4de-0fc8-11ee-96a8-3c9c0f728f90'), UUID('7f7ae4df-0fc8-11ee-aecf-3c9c0f728f90'), UUID('7f7ae4e0-0fc8-11ee-b707-3c9c0f728f90'), UUID('7f7ae4e1-0fc8-11ee-ac15-3c9c0f728f90'), UUID('7f7ae4e2-0fc8-11ee-860b-3c9c0f728f90'), UUID('7f7ae4e3-0fc8-11ee-97e5-3c9c0f728f90'), UUID('7f7ae4e4-0fc8-11ee-9579-3c9c0f728f90'), UUID('7f7ae4e5-0fc8-11ee-b38d-3c9c0f728f90'), UUID('7f7ae4e6-0fc8-11ee-b52a-3c9c0f728f90'), UUID('7f7ae4e7-0fc8-11ee-9556-3c9c0f728f90'), UUID('7f7ae4e8-0fc8-11ee-8f42-3c9c0f728f90'), UUID('7f7ae4e9-0fc8-11ee-b31f-3c9c0f728f90'), UUID('7f7ae4ea-0fc8-11ee-899c-3c9c0f728f90'), UUID('7f7ae4eb-0fc8-11ee-a30a-3c9c0f728f90'), UUID('7f7ae4ec-0fc8-11ee-90b7-3c9c0f728f90'), UUID('7f7ae4ed-0fc8-11ee-a888-3c9c0f728f90'), UUID('7f7ae4ee-0fc8-11ee-a1c5-3c9c0f728f90'), UUID('7f7ae4ef-0fc8-11ee-9576-3c9c0f728f90'), UUID('7f7ae4f0-0fc8-11ee-a88f-3c9c0f728f90'), UUID('7f7ae4f1-0fc8-11ee-8d33-3c9c0f728f90'), UUID('7f7ae4f2-0fc8-11ee-9999-3c9c0f728f90'), UUID('7f7ae4f3-0fc8-11ee-845c-3c9c0f728f90'), UUID('7f7ae4f4-0fc8-11ee-acd3-3c9c0f728f90'), UUID('7f7ae4f5-0fc8-11ee-add9-3c9c0f728f90'), UUID('7f7ae4f6-0fc8-11ee-ba4c-3c9c0f728f90'), UUID('7f7ae4f7-0fc8-11ee-8196-3c9c0f728f90'), UUID('7f7ae4f8-0fc8-11ee-a982-3c9c0f728f90'), UUID('7f7ae4f9-0fc8-11ee-a8d9-3c9c0f728f90'), UUID('7f7ae4fa-0fc8-11ee-ba03-3c9c0f728f90'), UUID('7f7ae4fb-0fc8-11ee-9940-3c9c0f728f90'), UUID('7f7ae4fc-0fc8-11ee-bcf9-3c9c0f728f90'), UUID('7f7ae4fd-0fc8-11ee-9863-3c9c0f728f90'), UUID('7f7ae4fe-0fc8-11ee-92ad-3c9c0f728f90'), UUID('7f7ae4ff-0fc8-11ee-8f46-3c9c0f728f90'), UUID('7f7ae500-0fc8-11ee-bd67-3c9c0f728f90'), UUID('7f7ae501-0fc8-11ee-ab4b-3c9c0f728f90'), UUID('7f7ae502-0fc8-11ee-b32d-3c9c0f728f90'), UUID('7f7ae503-0fc8-11ee-b686-3c9c0f728f90'), UUID('7f7ae504-0fc8-11ee-9bb0-3c9c0f728f90'), UUID('7f7ae505-0fc8-11ee-b5c1-3c9c0f728f90'), UUID('7f7ae506-0fc8-11ee-9be8-3c9c0f728f90'), UUID('7f7ae507-0fc8-11ee-8332-3c9c0f728f90'), UUID('7f7ae508-0fc8-11ee-a3fe-3c9c0f728f90'), UUID('7f7ae509-0fc8-11ee-8110-3c9c0f728f90'), UUID('7f7ae50a-0fc8-11ee-a6f2-3c9c0f728f90'), UUID('7f7ae50b-0fc8-11ee-bfac-3c9c0f728f90'), UUID('7f7ae50c-0fc8-11ee-a1bb-3c9c0f728f90'), UUID('7f7ae50d-0fc8-11ee-9a8e-3c9c0f728f90'), UUID('7f7ae50e-0fc8-11ee-956a-3c9c0f728f90'), UUID('7f7ae50f-0fc8-11ee-83b4-3c9c0f728f90'), UUID('7f7ae510-0fc8-11ee-adcd-3c9c0f728f90'), UUID('7f7ae511-0fc8-11ee-8d33-3c9c0f728f90'), UUID('7f7ae512-0fc8-11ee-bce0-3c9c0f728f90'), UUID('7f7ae513-0fc8-11ee-83d4-3c9c0f728f90'), UUID('7f7ae514-0fc8-11ee-8480-3c9c0f728f90'), UUID('7f7ae515-0fc8-11ee-a787-3c9c0f728f90'), UUID('7f7ae516-0fc8-11ee-8959-3c9c0f728f90'), UUID('7f7ae517-0fc8-11ee-a208-3c9c0f728f90'), UUID('7f7ae518-0fc8-11ee-9123-3c9c0f728f90'), UUID('7f7ae519-0fc8-11ee-a978-3c9c0f728f90'), UUID('7f7ae51a-0fc8-11ee-bf7b-3c9c0f728f90'), UUID('7f7ae51b-0fc8-11ee-9c20-3c9c0f728f90'), UUID('7f7ae51c-0fc8-11ee-a64a-3c9c0f728f90'), UUID('7f7b0b50-0fc8-11ee-ba28-3c9c0f728f90'), UUID('7f7b0b51-0fc8-11ee-a57b-3c9c0f728f90'), UUID('7f7b0b52-0fc8-11ee-95a7-3c9c0f728f90')]

In [91]:
df_special_feature_nomaly=pd.DataFrame()

In [92]:
df_special_feature_nomaly["id"]=list_uuid
df_special_feature_nomaly["special_feature"]=special_feature_nomaly_unique

In [93]:
df_special_feature_nomaly.to_csv('../data_cleaned/df_special_feature_nomaly.csv',index=False)

## 4. Dim company

In [94]:
df_company=pd.DataFrame()
df_company['manufacturer']=df_dataset_cleaned['manufacturer']
df_company['country_of_origin']=df_dataset_cleaned['country_of_origin']

In [95]:
len(df_company)

264

In [96]:
len(df_company.drop_duplicates())

32

In [97]:
df_company= df_company.drop_duplicates()
len(df_company)

32

In [98]:
import uuid

list_uuid=[]
for i in range(0,len(df_company)):
  #print(i)
  list_uuid.append(uuid.uuid1())

In [99]:
df_company["id"]=list_uuid

In [100]:
df_company.head(5)

,manufacturer,country_of_origin,id
0,samsung,India,7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90
1,oneplus,India,7f8f4895-0fc8-11ee-a607-3c9c0f728f90
2,oppo,India,7f8f4896-0fc8-11ee-a4d4-3c9c0f728f90
4,bhagwati products ltd. sp1-1 industrial area k...,India,7f8f4897-0fc8-11ee-91df-3c9c0f728f90
5,sky cable,India,7f8f4898-0fc8-11ee-9dfe-3c9c0f728f90

In [101]:
df_company.to_csv('../data_cleaned/df_company.csv',index=False)

In [102]:
df_dataset_cleaned.columns

Index(['title', 'price', 'rating', 'total_reviews', 'availability_status',
       'manufacturer', 'country_of_origin', 'os', 'ram', 'product_dimensions',
       'weight', 'batteries', 'special_features', 'form_factor', 'colour',
       'battery_power_rating', 'product_description'],
      dtype='object')

## 5. Dim colour

In [103]:

df_colour=pd.DataFrame()
df_colour['colour']=df_dataset_cleaned['colour']

In [104]:
len(df_colour)

264

In [105]:
df_colour= df_colour.drop_duplicates()
len(df_colour)

142

In [106]:
import uuid

list_uuid=[]
for i in range(0,len(df_colour)):
  #print(i)
  list_uuid.append(uuid.uuid1())

In [107]:
df_colour["id"]=list_uuid

In [108]:
df_colour.head(5)

           colour                                    id
0  Midnight Black  7f9fadd0-0fc8-11ee-8f78-3c9c0f728f90
1     Prism Black  7f9fadd1-0fc8-11ee-89d3-3c9c0f728f90
2   Galactic Blue  7f9fadd2-0fc8-11ee-ae20-3c9c0f728f90
3      Aqua Green  7f9fadd3-0fc8-11ee-a6e3-3c9c0f728f90
4       Champagne  7f9fadd4-0fc8-11ee-8db6-3c9c0f728f90

In [109]:
df_colour.to_csv('../data_cleaned/df_colour.csv',index=False)

## 6. Dim ram

In [110]:

df_ram=pd.DataFrame()
df_ram['ram']=df_dataset_cleaned['ram']

In [111]:
df_ram['ram'].unique()

array([  6,   8,  32,   4,   3,  12,   2,  64, 512,   1], dtype=int64)

In [112]:
len(df_ram)

264

In [113]:
df_ram= df_ram.drop_duplicates()
len(df_ram)

10

In [114]:
import uuid

list_uuid=[]
for i in range(0,len(df_ram)):
  #print(i)
  list_uuid.append(uuid.uuid1())

In [115]:
df_ram["id"]=list_uuid

In [116]:
df_ram.head(5)

    ram                                    id
0     6  7facc0a0-0fc8-11ee-bbe5-3c9c0f728f90
1     8  7facc0a1-0fc8-11ee-8cc3-3c9c0f728f90
3    32  7facc0a2-0fc8-11ee-b424-3c9c0f728f90
4     4  7facc0a3-0fc8-11ee-9a1e-3c9c0f728f90
15    3  7facc0a4-0fc8-11ee-a178-3c9c0f728f90

In [117]:
df_ram.to_csv('../data_cleaned/df_ram.csv',index=False)

## 7. Dim os

In [118]:

df_os=pd.DataFrame()
df_os['os']=df_dataset_cleaned['os']

In [119]:
print(df_os)

                   os
0             Android
1             Android
2          Android 10
3             Android
4             Android
..                ...
259              MiUI
260              MiUI
261  Funtouch OS 11.1
262          OneU 3.1
263  Funtouch OS 11.1

[264 rows x 1 columns]

In [120]:
df_os[df_os.duplicated()]

                   os
1             Android
3             Android
4             Android
7          Android 11
8             Android
..                ...
259              MiUI
260              MiUI
261  Funtouch OS 11.1
262          OneU 3.1
263  Funtouch OS 11.1

[243 rows x 1 columns]

In [121]:
df_os=df_os.drop_duplicates()

In [122]:
import uuid

list_uuid=[]
for i in range(0,len(df_os)):
  #print(i)
  list_uuid.append(uuid.uuid1())
df_os["id"]=list_uuid

print(df_os.head())
df_os.to_csv('../data_cleaned/df_os.csv',index=False)

                  os                                    id
0            Android  7fbce2c2-0fc8-11ee-850a-3c9c0f728f90
2         Android 10  7fbce2c3-0fc8-11ee-b669-3c9c0f728f90
5         Android 11  7fbce2c4-0fc8-11ee-9c61-3c9c0f728f90
6   Funtouch OS 11.1  7fbce2c5-0fc8-11ee-94a4-3c9c0f728f90
24    Funtouch OS 11  7fbce2c6-0fc8-11ee-957e-3c9c0f728f90

## 8. Dim form factor

In [123]:
df_dataset_cleaned.form_factor.unique()

array(['Touchscreen Phone', 'Smartphone', 'Bar', 'Feature Phone',
       'Touchscreen phone', 'Touch', 'Touchscreen', 'Touchscreen-Handy',
       'Foldable Case', 'Palm Handed'], dtype=object)

In [124]:
df_form_factor=pd.DataFrame()
df_form_factor['form_factor']=df_dataset_cleaned["form_factor"]

In [125]:
len(df_form_factor)

264

In [126]:
df_form_factor=df_form_factor.drop_duplicates()

In [127]:
len(df_form_factor)

10

In [128]:
df_form_factor.head()

          form_factor
0   Touchscreen Phone
1          Smartphone
2                 Bar
18      Feature Phone
34  Touchscreen phone

In [129]:
import uuid

list_uuid=[]
for i in range(0,len(df_form_factor)):
  #print(i)
  list_uuid.append(uuid.uuid1())
df_form_factor["id"]=list_uuid

print(df_form_factor.head())
df_form_factor.to_csv('../data_cleaned/df_form_factor.csv',index=False)

          form_factor                                    id
0   Touchscreen Phone  7fd47185-0fc8-11ee-a7d5-3c9c0f728f90
1          Smartphone  7fd47186-0fc8-11ee-b604-3c9c0f728f90
2                 Bar  7fd47187-0fc8-11ee-9ad1-3c9c0f728f90
18      Feature Phone  7fd47188-0fc8-11ee-af5b-3c9c0f728f90
34  Touchscreen phone  7fd47189-0fc8-11ee-b80b-3c9c0f728f90

## 9 Dim battery power rating

In [130]:
df_dataset_cleaned.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,samsung,India,Android,6,16.5 x 7.6 x 0.7 cm,167.0,1 Lithium Polymer,"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

In [131]:
df_dataset_cleaned[["batteries" ,"battery_power_rating"]].drop_duplicates()

             batteries  battery_power_rating
0    1 Lithium Polymer                6000.0
1    1 Lithium Polymer                4400.0
2    1 Lithium Polymer                4500.0
3        1 Lithium ion                4000.0
4                  1 A                6000.0
..                 ...                   ...
211                1 A                4520.0
215                1 A                  22.0
234                1 A                4250.0
257      1 Lithium ion                3040.0
258  1 Lithium Polymer                4350.0

[72 rows x 2 columns]

In [132]:
df_battery_power=pd.DataFrame()
df_battery_power=df_dataset_cleaned[["batteries" ,"battery_power_rating"]].drop_duplicates()

In [133]:
import uuid

list_uuid=[]
for i in range(0,len(df_battery_power)):
  #print(i)
  list_uuid.append(uuid.uuid1())
df_battery_power["id"]=list_uuid

print(df_battery_power.head())
df_battery_power.to_csv('../data_cleaned/df_battery_power.csv',index=False)

           batteries  battery_power_rating  \
0  1 Lithium Polymer                6000.0
1  1 Lithium Polymer                4400.0
2  1 Lithium Polymer                4500.0
3      1 Lithium ion                4000.0
4                1 A                6000.0

                                     id
0  7fe0ab87-0fc8-11ee-928f-3c9c0f728f90
1  7fe0ab88-0fc8-11ee-bd8c-3c9c0f728f90
2  7fe0ab89-0fc8-11ee-b673-3c9c0f728f90
3  7fe0ab8a-0fc8-11ee-bb1b-3c9c0f728f90
4  7fe0ab8b-0fc8-11ee-94f2-3c9c0f728f90

# III Fact

In [134]:
df_dataset_cleaned=pd.read_csv('../data_cleaned/Amazon_Mobile_Data_cleaned.csv')
df_dataset_cleaned.head(1)

,title,price,rating,total_reviews,availability_status,manufacturer,country_of_origin,os,ram,product_dimensions,weight,batteries,special_features,form_factor,colour,battery_power_rating,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,samsung,India,Android,6,16.5 x 7.6 x 0.7 cm,167.0,1 Lithium Polymer,"Dual Bluetooth Audio, IR Blaster, X-Axis Hapti...",Touchscreen Phone,Midnight Black,6000.0,Redmi 9A comes with Octa-core Helio G25 proces...

In [135]:
df_battery_power=pd.read_csv('../data_cleaned/df_battery_power.csv')
df_battery_power.head(1)

,batteries,battery_power_rating,id
0,1 Lithium Polymer,6000.0,7fe0ab87-0fc8-11ee-928f-3c9c0f728f90

In [136]:
df_colour=pd.read_csv('../data_cleaned/df_colour.csv')
df_colour.head(1)

           colour                                    id
0  Midnight Black  7f9fadd0-0fc8-11ee-8f78-3c9c0f728f90

In [137]:
df_company=pd.read_csv('../data_cleaned/df_company.csv')
df_company.head(1)

  manufacturer country_of_origin                                    id
0      samsung             India  7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90

In [138]:
df_form_factor=pd.read_csv('../data_cleaned/df_form_factor.csv')
df_form_factor.head(1)

         form_factor                                    id
0  Touchscreen Phone  7fd47185-0fc8-11ee-a7d5-3c9c0f728f90

In [139]:
df_os=pd.read_csv('../data_cleaned/df_os.csv')
df_os.head(1)

        os                                    id
0  Android  7fbce2c2-0fc8-11ee-850a-3c9c0f728f90

In [140]:

df_product_dimensions=pd.read_csv('../data_cleaned/df_product_dimensions.csv')
df_product_dimensions.head(1)

,product_dimensions,product_dimension_length,product_dimension_width,product_dimension_height
0,16.5 x 7.6 x 0.7 cm,16.5,7.6,0.7

In [141]:
df_ram=pd.read_csv('../data_cleaned/df_ram.csv')
df_ram.head(1)

   ram                                    id
0    6  7facc0a0-0fc8-11ee-bbe5-3c9c0f728f90

In [142]:
df_special_feature_nomaly=pd.read_csv('../data_cleaned/df_special_feature_nomaly.csv')
df_special_feature_nomaly.head(1)

                                     id       special_feature
0  7f7ae427-0fc8-11ee-a9f1-3c9c0f728f90  Dual Bluetooth Audio

In [143]:
df_fact=pd.DataFrame()

In [144]:
df_fact=df_dataset_cleaned[['title', 'price', 'rating', 'total_reviews', 'availability_status',
        'product_dimensions', 'weight',  'product_description']]

In [145]:
df_fact.head(2)

,title,price,rating,total_reviews,availability_status,product_dimensions,weight,product_description
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,16.5 x 7.6 x 0.7 cm,167.0,Redmi 9A comes with Octa-core Helio G25 proces...
1,Samsung Galaxy M42 5G (Prism Dot Black 8GB RAM...,9490.0,4.3,47,In stock.,15 x 1 x 7.5 cm,161.0,The product comes in a very proper packaging. ...

In [146]:
number_special_features=[]
count=0
for special_features in df_dataset_cleaned.special_features:
  for features in df_special_feature_nomaly.special_feature:
    if features in special_features:
      count=count+1
      #print(features,'|',special_features)
  number_special_features.append(count)
  count=0

In [147]:
len(number_special_features)==len(df_fact)

True

In [148]:
df_fact['number_special_features']=number_special_features

C:\Users\Acer\AppData\Local\Temp\ipykernel_9372\2669433462.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fact['number_special_features']=number_special_features

In [149]:
key_company=[]
for index_dataset_cleaned  in df_dataset_cleaned.index:	
  for index_company in df_company.index:
    #print(df_company["country_of_origin"])
    if((df_dataset_cleaned["country_of_origin"][index_dataset_cleaned]	== df_company["country_of_origin"][index_company]	) and (df_dataset_cleaned["manufacturer"][index_dataset_cleaned]==df_company["manufacturer"][index_company])):
      key_company.append(df_company["id"][index_company])

In [150]:
key_company[0:5]

['7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90',
 '7f8f4895-0fc8-11ee-a607-3c9c0f728f90',
 '7f8f4896-0fc8-11ee-a4d4-3c9c0f728f90',
 '7f8f4896-0fc8-11ee-a4d4-3c9c0f728f90',
 '7f8f4897-0fc8-11ee-91df-3c9c0f728f90']

In [151]:
len(df_fact)

264

In [152]:
len(key_company)

264

In [153]:
df_fact["key_company"]=key_company

C:\Users\Acer\AppData\Local\Temp\ipykernel_9372\980503691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fact["key_company"]=key_company

In [154]:
key_colour=[]
for index_dataset_cleaned  in df_dataset_cleaned.index:	
  for index_colour in df_colour.index:
    #print(df_colour["country_of_origin"])
    if((df_dataset_cleaned["colour"][index_dataset_cleaned]	== df_colour["colour"][index_colour]	)):
      key_colour.append(df_colour["id"][index_colour])

In [155]:
len(df_fact)==len(key_colour)

True

In [156]:
df_fact["key_colour"]=key_colour

C:\Users\Acer\AppData\Local\Temp\ipykernel_9372\2073915282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fact["key_colour"]=key_colour

In [157]:
df_fact.head(1)

,title,price,rating,total_reviews,availability_status,product_dimensions,weight,product_description,number_special_features,key_company,key_colour
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,16.5 x 7.6 x 0.7 cm,167.0,Redmi 9A comes with Octa-core Helio G25 proces...,35,7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90,7f9fadd0-0fc8-11ee-8f78-3c9c0f728f90

In [158]:
key_ram=[]
for index_dataset_cleaned  in df_dataset_cleaned.index:	
  for index_ram in df_ram.index:
    #print(df_ram["country_of_origin"])
    if((df_dataset_cleaned["ram"][index_dataset_cleaned]	== df_ram["ram"][index_ram]	)):
      key_ram.append(df_ram["id"][index_ram])
print(len(df_fact)==len(key_ram))
df_fact["key_ram"]=key_ram
df_fact.head(1)

True

C:\Users\Acer\AppData\Local\Temp\ipykernel_9372\633398112.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fact["key_ram"]=key_ram

,title,price,rating,total_reviews,availability_status,product_dimensions,weight,product_description,number_special_features,key_company,key_colour,key_ram
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,16.5 x 7.6 x 0.7 cm,167.0,Redmi 9A comes with Octa-core Helio G25 proces...,35,7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90,7f9fadd0-0fc8-11ee-8f78-3c9c0f728f90,7facc0a0-0fc8-11ee-bbe5-3c9c0f728f90

In [159]:
key_form_factor=[]
for index_dataset_cleaned  in df_dataset_cleaned.index:	
  for index_form_factor in df_form_factor.index:
    if((df_dataset_cleaned["form_factor"][index_dataset_cleaned]	== df_form_factor["form_factor"][index_form_factor]	)):
      key_form_factor.append(df_form_factor["id"][index_form_factor])
print(len(df_fact)==len(key_form_factor))
df_fact["key_form_factor"]=key_form_factor
df_fact.head(1)

True

C:\Users\Acer\AppData\Local\Temp\ipykernel_9372\3938061010.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fact["key_form_factor"]=key_form_factor

,title,price,rating,total_reviews,availability_status,product_dimensions,weight,product_description,number_special_features,key_company,key_colour,key_ram,key_form_factor
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,16.5 x 7.6 x 0.7 cm,167.0,Redmi 9A comes with Octa-core Helio G25 proces...,35,7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90,7f9fadd0-0fc8-11ee-8f78-3c9c0f728f90,7facc0a0-0fc8-11ee-bbe5-3c9c0f728f90,7fd47185-0fc8-11ee-a7d5-3c9c0f728f90

In [160]:
key_form_factor=[]
for index_dataset_cleaned  in df_dataset_cleaned.index:	
  for index_form_factor in df_form_factor.index:
    if((df_dataset_cleaned["form_factor"][index_dataset_cleaned]	== df_form_factor["form_factor"][index_form_factor]	)):
      key_form_factor.append(df_form_factor["id"][index_form_factor])
print(len(df_fact)==len(key_form_factor))
df_fact["key_form_factor"]=key_form_factor
df_fact.head(1)

True

C:\Users\Acer\AppData\Local\Temp\ipykernel_9372\3938061010.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fact["key_form_factor"]=key_form_factor

,title,price,rating,total_reviews,availability_status,product_dimensions,weight,product_description,number_special_features,key_company,key_colour,key_ram,key_form_factor
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,16.5 x 7.6 x 0.7 cm,167.0,Redmi 9A comes with Octa-core Helio G25 proces...,35,7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90,7f9fadd0-0fc8-11ee-8f78-3c9c0f728f90,7facc0a0-0fc8-11ee-bbe5-3c9c0f728f90,7fd47185-0fc8-11ee-a7d5-3c9c0f728f90

In [161]:
key_os=[]
for index_dataset_cleaned  in df_dataset_cleaned.index:	
  for index_os in df_os.index:
    if((df_dataset_cleaned["os"][index_dataset_cleaned]	== df_os["os"][index_os]	)):
      key_os.append(df_os["id"][index_os])
print(len(df_fact)==len(key_os))
df_fact["key_os"]=key_os
df_fact.head(1)

True

C:\Users\Acer\AppData\Local\Temp\ipykernel_9372\2209060094.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fact["key_os"]=key_os

,title,price,rating,total_reviews,availability_status,product_dimensions,weight,product_description,number_special_features,key_company,key_colour,key_ram,key_form_factor,key_os
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,16.5 x 7.6 x 0.7 cm,167.0,Redmi 9A comes with Octa-core Helio G25 proces...,35,7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90,7f9fadd0-0fc8-11ee-8f78-3c9c0f728f90,7facc0a0-0fc8-11ee-bbe5-3c9c0f728f90,7fd47185-0fc8-11ee-a7d5-3c9c0f728f90,7fbce2c2-0fc8-11ee-850a-3c9c0f728f90

In [162]:

key_battery_power=[]
for index_dataset_cleaned  in df_dataset_cleaned.index:	
  for index_battery_power in df_battery_power.index:
    if(
      (df_dataset_cleaned["battery_power_rating"][index_dataset_cleaned]	== df_battery_power["battery_power_rating"][index_battery_power]	)
      and 
      (df_dataset_cleaned["batteries"][index_dataset_cleaned]	== df_battery_power["batteries"][index_battery_power]	)
    ):
      key_battery_power.append(df_battery_power["id"][index_battery_power])
if(len(df_fact)==len(key_battery_power)):
  df_fact["key_battery_power"]=key_battery_power
else:
  stop
df_fact.head(1)

C:\Users\Acer\AppData\Local\Temp\ipykernel_9372\709724463.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fact["key_battery_power"]=key_battery_power

,title,price,rating,total_reviews,availability_status,product_dimensions,weight,product_description,number_special_features,key_company,key_colour,key_ram,key_form_factor,key_os,key_battery_power
0,OnePlus Nord CE 5G (Blue Void 8GB RAM 128GB St...,45900.0,4.2,4,Only 1 left in stock.,16.5 x 7.6 x 0.7 cm,167.0,Redmi 9A comes with Octa-core Helio G25 proces...,35,7f8f4894-0fc8-11ee-ae4f-3c9c0f728f90,7f9fadd0-0fc8-11ee-8f78-3c9c0f728f90,7facc0a0-0fc8-11ee-bbe5-3c9c0f728f90,7fd47185-0fc8-11ee-a7d5-3c9c0f728f90,7fbce2c2-0fc8-11ee-850a-3c9c0f728f90,7fe0ab87-0fc8-11ee-928f-3c9c0f728f90

## save data

In [163]:
df_fact.to_csv('../data_cleaned/df_facts.csv',index=False,sep=';')

In [164]:
len(df_fact)

264